<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <link rel="icon" type="image/png" href="/images/icon.png" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/cards.css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/f4275c0134.js" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://unpkg.com/i18next/i18next.js"></script>
    <script src="https://unpkg.com/i18next-xhr-backend/i18nextXHRBackend.js"></script>
    <script src="https://unpkg.com/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/game.js"></script>
    <title>Virtual Deck - Play Anywhere with Anyone</title>
  </head>
  <body>
    <div id="screen" class="jumbotron jumbotron-fluid">
      <div id="game_controls">
        <button id="reset_button" class="btn btn-danger block" onclick="askResetGame()"></button></br>
        <input id="colors_option" type="checkbox" onclick="changeCardsColor()"></button></br>
        <input id="sound_option" type="checkbox" ></button></br>
      </div>
      <audio id="sound_player">
        <source id="sound_source" type="audio/mpeg">
      </audio>
      <div id="logMessage"></div>
      <div id="main" class="container-fluid">
        <div id="playersArea" class="col-11">
          <h2 class="player_number" style="display: inline;"></h2>
          <div id="user_container"></div>
        </div>
        <div id="mainrow" class="row">
          <div id="playArea" class="col-4 playingCards faceImages">
            <h2>Playing Area</h2>
          </div>
          <div class="col-7">
            <div id="mainDeck" class="row"></div>
            <div id="hand" class="row">
              <div class="col-12">
                <div id="hand_header">
                  <h2 style="vertical-align: middle;" class="d-inline-block" id="your_hand"></h2>
                  <div id="cards_control" class="d-inline-block">
                    <button id="sort_button" class="d-inline-block btn btn-info" onclick="sortCard()"></button>
                    <input
                      id="option_reorder"
                      class="d-inline-block"
                      type="checkbox"
                      data-width="90"/>
                  </div>
                </div>
                <div id="cardDisplay" class="playingCards faceImages"></div>
                <div id="instruction">
                </div>
              </div>
            </div>
          </div>
          <div id="tricksArea" class="playingCards faceImages"></div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const roomID = urlParams.get("roomID");
      main(roomID);
    });
  </script>
</html>
